html, body {
  background-color: rgba(194, 194, 194, 0.774);
}

.container {
  max-width: 100vw;
  min-height: 100vh;
}

.button-container {
  display: flex;
  align-items: center;

  min-height: 30px;
  margin: 16px;
}

.search-container {
  margin: 16px 16px;
}

.search-container > h1 {
  margin-bottom: 8px;
}

.search-msg {
  margin-left: 16px;
}